#tabuleiro{
   width:404px;
   height:404px;
   border:solid 2px #89664a;
   margin: 20 auto;
}

.linha{  
   height:50px;
}

.casa{
   width:50px;
   height:100%;   
   float:left;
   cursor: pointer;
}

.casa_branca{
   background-color: #F0D9B5;
}

.casa_preta{
   background-color: #B58863;
}

.casa_selecionada{
   background-color: #FF0000;
}

.peca {
   width: 50px;
   height: 100%;
}

.avatar{
   border:solid 1px #89664a;
   width: 100px;
   height:100px;
}

#cronometro{

}

.top-buffer { 
   margin-top:100px; 
}